<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-Learning Home</title>
  <link rel="icon" href="images/e-learn logo.svg" type ="Image/svg+xml" />
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1 style="text-align: center;">E-Learning Courses</h1>
<h1>🧑‍💻 Technology & Programming</h1>
  <div class="course-list">
    <div class="Technology">
    <img src="images/🧑‍💻 Technology & Programming/html.svg" alt="HTML Course">
      <h2>Basics HTML </HTML></h2>
      <p>Learn HTML from scratch.</p>
      <a href="/course/1">View Course</a>
    </div>
    <div class="Technology">
    <img src="images/🧑‍💻 Technology & Programming/css.svg" alt="CSS Course">
      <h2>Basics CSS </HTML></h2>
      <p>Learn CSS from scratch.</p>
      <a href="/course/2">View Course</a>
    </div>
    <div class="Technology">
        <img src="images/🧑‍💻 Technology & Programming/java script.svg" alt="JavaScript Course">
      <h2>Advanced JS</h2>
      <p>Master JavaScript concepts.</p>
      <a href="/course/3">View Course</a>
    </div>
    <div class="Technology">
        <img src="images/🧑‍💻 Technology & Programming/java.svg" alt="Advanced Java course">
      <h2>Advanced Java</h2>
      <p>Master Advanced Java</p>
      <a href="/course/4">View Course</a>
    </div>
    <div class="Technology">
        <img src="images/🧑‍💻 Technology & Programming/python.svg" alt="python course">
      <h2>Advanced python</h2>
      <p>Master Advanced python</p>
      <a href="/course/5">View Course</a>
    </div>
      <div class="Technology">
       <img src="images/🧑‍💻 Technology & Programming/react.svg" alt=" React Course">
      <h2>React Basics</h2>
      <p>Learn React from scratch.</p>
      <a href="/course/6">View Course</a>
    </div>
    <div class="Technology">
        <img src="images/🧑‍💻 Technology & Programming/mongodb.svg" alt="Mongo DB course">
      <h2>Mongo DB</h2>
      <p>Master Mongo DB</p>
      <a href="/course/7">View Course</a>
    </div>
     <div class="Technology">
        <img src="images/🧑‍💻 Technology & Programming/android.svg" alt="Android App Development course">
      <h2>Android App Development with Kotlin</h2>
      <p>Master Android App Development with Kotlin</p>
      <a href="/course/8">View Course</a>
    </div>
     <div class="course-card">
        <img src="images/🧑‍💻 Technology & Programming/cybersecurity.svg" alt="Cybersecurity course">
      <h2>Cybersecurity</h2>
      <p>Learn ethical hacking & network security</p>
      <a href="/course/9">View Course</a>
    </div>
     <div class="Technology">
        <img src="images/🧑‍💻 Technology & Programming/data structure.svg" alt="Data Structures & Algorithms course">
      <h2>Data Structures & Algorithms</h2>
      <p>Competitive programming prep</p>
      <a href="/course/10">View Course</a>
    </div>
  </div>
  <h1>🎨 Design & Creativity</h1>
  <div class="course-list">
    <div class="Design">
    <img src="images/🎨 Design & Creativity/uiux.svg" alt="UI/UX Design Fundamentals Course">
      <h2>UI/UX Design Fundamentals </HTML></h2>
      <p>Wireframing, Prototyping, Figma, Adobe XD.</p>
      <a href="/course/11">View Course</a>
    </div>
    <div class="Design">
    <img src="images/🎨 Design & Creativity/canva.svg" alt="Graphic Design with Canva & Photoshop Course">
      <h2>Graphic Design with Canva & Photoshop </HTML></h2>
      <p>Learn Graphic Design with Canva & Photoshop</p>
      <a href="/course/12">View Course</a>
    </div>
    <div class="Design">
    <img src="images/🎨 Design & Creativity/blender.svg" alt="3D Modeling with Blender Course">
      <h2>3D Modeling with Blender </HTML></h2>
      <p>Learn 3D Modeling with Blender.</p>
      <a href="/course/13">View Course</a>
    </div>
    <div class="Design">
    <img src="images/🎨 Design & Creativity/pro.svg" alt="Video Editing with Premiere Pro & After Effects Course">
      <h2>Video Editing with Premiere Pro & After Effects </HTML></h2>
      <p>Learn Video Editing with Premiere Pro & After Effects.</p>
      <a href="/course/14">View Course</a>
    </div>
    <div class="Design">
    <img src="images/🎨 Design & Creativity/ai.svg" alt="Digital Illustration for Beginners Course">
      <h2>Digital Illustration for Beginners </HTML></h2>
      <p>Learn Digital Illustration for Beginners.</p>
      <a href="/course/15">View Course</a>
    </div>
    </div>
    <h1>📊 Business & Marketing</h1>
    <div class="course-list">
    <div class="Business">
    <img src="images/📊 Business & Marketing/digital marketing.svg" alt="Digital Marketing Masterclass Course">
      <h2>Digital Marketing Masterclass</HTML></h2>
      <p>Learn Digital Marketing Masterclass.</p>
      <a href="/course/16">View Course</a>
    </div>
    <div class="Business">
    <img src="images/📊 Business & Marketing/Entrepreneurship.svg" alt="Entrepreneurship: From Idea to Launch Course">
      <h2>Entrepreneurship: From Idea to Launch </HTML></h2>
      <p>Learn Entrepreneurship: From Idea to Launch.</p>
      <a href="/course/17">View Course</a>
    </div>
    <div class="Business">
    <img src="images/📊 Business & Marketing/financial.svg" alt="Financial Literacy for Students Course">
      <h2>Financial Literacy for Students </HTML></h2>
      <p>Learn HFinancial Literacy for Students.</p>
      <a href="/course/18">View Course</a>
    </div>
    <div class="Business">
    <img src="images/📊 Business & Marketing/excel.svg" alt="Excel & Data Analysis for Business Course">
      <h2>Excel & Data Analysis for Business </HTML></h2>
      <p>Learn Excel & Data Analysis for Business.</p>
      <a href="/course/19">View Course</a>
    </div>
    <div class="Business">
    <img src="images/📊 Business & Marketing/agile.svg" alt="Project Management with Agile & Scrum Course">
      <h2>Project Management with Agile & Scrum</HTML></h2>
      <p>Learn Project Management with Agile & Scrum.</p>
      <a href="/course/20">View Course</a>
    </div>
    </div>
    <h1>📚 Academic & Soft Skills</h1>
<div class="course-list">
    <div class="Soft Skills">
    <img src="images/📚 Academic & Soft Skills/communication.svg" alt="Spoken English & Communication Skills Course">
      <h2>Spoken English & Communication Skills </HTML></h2>
      <p>Learn Spoken English & Communication Skills.</p>
      <a href="/course/21">View Course</a>
    </div>
     <div class="Soft Skills">
    <img src="images/📚 Academic & Soft Skills/pubilc speaker.svg" alt="Public Speaking & Presentation Mastery Course">
      <h2>Public Speaking & Presentation Mastery </HTML></h2>
      <p>Learn Public Speaking & Presentation Mastery.</p>
      <a href="/course/22">View Course</a>
    </div>
     <div class="Soft Skills">
    <img src="images/📚 Academic & Soft Skills/logical.svg" alt="Logical Reasoning & Aptitude for Competitive Exams Course">
      <h2>Logical Reasoning & Aptitude for Competitive Exams </HTML></h2>
      <p>Learn Logical Reasoning & Aptitude for Competitive Exams.</p>
      <a href="/course/23">View Course</a>
    </div>
     <div class="Soft Skills">
    <img src="images/📚 Academic & Soft Skills/basic mathematical.svg" alt="Basic Mathematics Refresher Course">
      <h2>Basic Mathematics Refresher </HTML></h2>
      <p>Learn Basic Mathematics Refresher.</p>
      <a href="/course/24">View Course</a>
    </div>
     <div class="Soft Skills">
    <img src="images/📚 Academic & Soft Skills/career.svg" alt="Career Planning & Resume Building Course">
      <h2>Career Planning & Resume Building </HTML></h2>
      <p>Learn Career Planning & Resume Building.</p>
      <a href="/course/25">View Course</a>
    </div>
    </div>
    <h1>🌐 Languages</h1>
<div class="course-list">
    <div class=" Languages">
    <img src="images/🌐 Languages Certification/spanish.svg" alt="Learn Spanish for Beginners Course">
      <h2>Learn Spanish for Beginners </HTML></h2>
      <p>Learn Spanish for Beginners scratch.</p>
      <a href="/course/26">View Course</a>
    </div>
    <div class=" Languages">
    <img src="images/🌐 Languages Certification/hindi.svg" alt="Spoken Hindi for Non-Native Speakers Course">
      <h2>Spoken Hindi for Non-Native Speakers </HTML></h2>
      <p>Spoken Hindi for Non-Native Speakers scratch.</p>
      <a href="/course/27">View Course</a>
    </div><div class=" Languages">
    <img src="images/🌐 Languages Certification/french.svg" alt="Spoken French Course">
      <h2>French </HTML></h2>
      <p>learn to spoken French.</p>
      <a href="/course/28">View Course</a>
    </div>
    </div>
    <h1>👩‍⚕️ Personal Development & Health</h1>
<div class="course-list">
    <div class="Personal Development">
    <img src="images/👩‍⚕️ Personal Development & Health/time management.svg" alt="Time Management for Students">
      <h2>Time Management for Students </HTML></h2>
      <p>Learn Time Management for Students.</p>
      <a href="/course/29">View Course</a>
    </div>
    <div class="Personal Development">
    <img src="images/👩‍⚕️ Personal Development & Health/strees mangement.svg" alt="Mindfulness & Stress Management">
      <h2>Mindfulness & Stress Management </HTML></h2>
      <p>Learn Mindfulness & Stress Management.</p>
      <a href="/course/30">View Course</a>
    </div>
    <div class="Personal Development">
    <img src="images/👩‍⚕️ Personal Development & Health/fitness.svg" alt="Fitness at Home (No Equipment)">
      <h2>Fitness at Home (No Equipment)</HTML></h2>
      <p>Learn Fitness at Home (No Equipment).</p>
      <a href="/course/31">View Course</a>
    </div>
    <div class="Personal Development">
    <img src="images/👩‍⚕️ Personal Development & Health/healthy.svg" alt="Healthy Eating & Nutrition Basics Course">
      <h2>Healthy Eating & Nutrition Basics </HTML></h2>
      <p>Learn Healthy Eating & Nutrition Basics.</p>
      <a href="/course/32">View Course</a>
    </div>
</body>
</html>
